* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: MonsOlympia;
}


/* ------------------------------Button effect------------------------------------------------------------ */
.startBtn-home a {
  position: fixed;
  padding: 20px 50px;
  text-decoration: none;
  color: #4EBAF0;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background-color: rgba(0, 64, 255, 0.153);
  box-shadow: 0 5px 5px rgba(0, 0, 0.2);
}

.startBtn-home a:hover:after {
  left: 100%;
}

.startBtn-home a span {
  position: fixed;
  display: flex;
  transition: all 1s ease
}

.startBtn-home a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.startBtn-home a span:hover {
  transform: scale(1.1);
}

.startBtn-home a:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

/* ---------------------------------------------------------------------- */

.socialMedia-home img:hover {
  transform: scale(1.2);
}

/* Bg image and responsiveness for mobile and tablet devices */
@media (min-width: 200px) and (max-width: 1024px) {
  body {
    background-image: url("../Assets/homePageMobile.png");
  }

  .titleHeading-home {
    justify-content: center;
    color: #4EBAF0;
    font-size: 9rem;
    top: 5rem;
    position: relative;
    font-optical-sizing: auto;
  }

  .textAfterHeading-home {
    color: #4EBAF0;
    justify-content: center;
    height: 5rem;
    margin-left: -1rem;
    margin-top: -2rem;
    text-align: center;
    font-size: 1rem;
  }

  .socialMedia-home {
    display: inline-flex;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    color: #4EBAF0;
  }

  .socialMedia-home img {
    width: 1.3rem;
    margin-top: 0.1em;
    margin-left: 0.1rem;
    letter-spacing: 1rem;
  }

  .startBtn-home a {
    position: relative;
    display: inline;
    top: 3rem;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    color: #4EBAF0;
    font-size: 1rem;
    letter-spacing: 4px;
    overflow: hidden;
    border-image-slice: 1;
    background-color: rgba(0, 64, 255, 0.153);
  }

  .rounded-corners-gradient-borders {
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), linear-gradient(#4EBAF0, #0018223b);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0.2);
  }

  .logo-home img {
    position: fixed;
    width: 6rem;
    height: auto;
    top: 2.5rem;
    left: 0.6rem;
  }

  /* -------------------------------Outer Border---------------------------------------- */

  .outerBorder {
    position: fixed;
    border: 2px solid #4EBAF0;
    width: 95%;
    height: 95%;
    top: 2.6%;
    left: 3%;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .glowing-circle {

    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
  }

  @keyframes glowing {
    from {
      box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba(78, 186, 240, 0.271)F0, 0 0 7px #4EBAF0;
    }

    to {
      box-shadow: 0 0 2px #fff, 0 0 3px #4EBAF0, 0 0 4px #4EBAF0, 0 0 5px #4EBAF0, 0 0 6px #4EBAF0, 0 0 7px #4EBAF0, 0 0 8px #4EBAF0;
    }
  }
}

/* -------------------------------------------------------------- */

/* Bg image and responsiveness for desktop devices */

@media (min-width: 1025px) {
  body {
    background-image: url("../Assets/homePageDesktop.png");
  }

  .titleHeading-home {
    color: #4EBAF0;
    font-size: 18rem;
    position: fixed;
    display: flex;
    top: -3rem;
    left: 9rem;

  }

  .logo-home img {
    position: fixed;
    width: 10rem;
    height: auto;
    top: 3rem;
    right: 2rem;
  }

  .textAfterHeading-home {
    color: #4EBAF0;
    position: relative;
    top: 24rem;
    left: -28rem;
    font-size: 2rem;
    overflow: hidden;
  }

  .startBtn-home a {
    position: absolute;
    padding: 1.2rem 2rem;
    top: 5rem;
    left: 4rem;
    width: 16rem;
    text-decoration: none;
    color: #4EBAF0;
    font-size: 2rem;
    letter-spacing: 4px;
    overflow: hidden;
    border: double 5px transparent;
    border-radius: 35px;
    border-image-slice: 1;
    background-color: rgba(0, 64, 255, 0.153);
  }

  .startBtn-home a:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .rounded-corners-gradient-borders {
    border: double 4px transparent;
    border-radius: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), linear-gradient(#4EBAF0, #0018223b);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0.2);
  }

  .socialMedia-home {
    display: inline-flex;
    position: fixed;
    font-size: 2rem;
    left: 18rem;
    bottom: 2.4rem;
    color: #4EBAF0;
  }

  .socialMedia-home img {
    margin-top: 0.8rem;
    margin-left: 0.1rem;
    letter-spacing: 1rem;
  }

  /* -------------------------------Outer Border---------------------------------------- */

.outerBorder {
  position: fixed;
  border: 2px solid #4EBAF0;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.3%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.glowing-circle {

  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba(78, 186, 240, 0.271)F0, 0 0 7px #4EBAF0;
  }

  to {
    box-shadow: 0 0 2px #fff, 0 0 3px #4EBAF0, 0 0 4px #4EBAF0, 0 0 5px #4EBAF0, 0 0 6px #4EBAF0, 0 0 7px #4EBAF0, 0 0 8px #4EBAF0;
  }
}
}

/*----------------------------------------------------------------*/