* {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
}

.main-container {
    width: 100%;
    height: 100vh;
}

/* .menu-bar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05053a;
}

.menu-left {
    width: 40%;
    margin-left: 30px;
    padding: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.menu-right {
    width: 60%;
    margin-right: 10px;
    padding: 2px;
    color: aqua;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(#05053a, #040452);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 80%;
    width: 50%;
    background-color: #05053a;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    border: 1.4px solid aqua;
    border-radius: 20px;
    perspective: 1000px;
}

@media screen and (max-width: 420px) {
    .card {
        height: 90%;
        width: 85%;
    }
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 80, 0.6), rgba(0, 0, 70, 0.5)),
        url(../Assets/cit\ pc\ 2-02.png);
    padding: 50px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-back {
    transform: rotateY(180deg);
}

.card h3 {
    font-weight: normal;
    font-size: 24px;
    color: aqua;
    text-align: center;
    margin-bottom: 18px;
}

.input-box {
    width: 70%;
    background: transparent;
    border: 1px solid aqua;
    margin: 8px 0;
    padding: 0 10px;
    height: 32px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .input-box {
        width: 82%;
        margin: 10px 0;
    }
}

::placeholder {
    color: #fff;
    text-align: center;
}

button {
    width: 25%;
    background: transparent;
    border: 1px solid aqua;
    margin: 16px 0 10px;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;

}

@media screen and (max-width: 600px) {
    button {
        width: 70%;
    }
}

.submit-btn {
    position: relative;
}

.card .btn {
    margin-top: 25px;
}

.card a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 8px;
}