* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../Assets/cit\ pc\ 2-02.png);
    background-size: cover;
    font-family: 'Mons Olympia Condensed', sans-serif;
}

  .outerBorder {
      position: relative;
      border: 2px solid #4EBAF0;
    
      top: 2.5%;
      border-radius: 3rem;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-bottom: 5px;
  }

.glowing-circle {

    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba(78, 186, 240, 0.271)F0, 0 0 7px #4EBAF0;
    }

    to {
        box-shadow: 0 0 2px #fff, 0 0 3px #4EBAF0, 0 0 4px #4EBAF0, 0 0 5px #4EBAF0, 0 0 6px #4EBAF0, 0 0 7px #4EBAF0, 0 0 8px #4EBAF0;
    }
}


.logo img {
    height: 7em;
    border-radius: 84px;
    position: absolute;
    top: -0.5%;
    left: -2.5%;
}

.container {
    color: rgb(255, 254, 254);
    padding: 10px;
    margin: 40px;
}

.win-section {
    border-style: solid;
    border-radius: 20px;
    border-width: 2;
    border-color: rgb(98, 159, 228);
    height: auto;
    width: auto;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: 'Mons Olympia Condensed', sans-serif;
}

@media only screen and (max-width: 600px) {

    .logo img {
        height: 4.5em;
        top: 0.2%;
        left: -18px;
    }


    h2 {
        font-size: 15px;
        letter-spacing: 0.12em;
        margin: -11px;
        position: relative;
        margin-top: 20%;
        line-height: 28px;

    }




}

.container {
    letter-spacing: 0.12em;
    margin: 15px;
    position: relative;
    margin-top: 12%;
    line-height: 74px;
}

.container a {
    color: aqua;
}