* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
  
  /* heading font style */
  @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  
  
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  
  /* ------------------------------Button effect------------------------------------------------------------ */
  .startBtn a {
    position: fixed;
    padding: 20px 50px;
    text-decoration: none;
    color: #4EBAF0;
    font-size: 2em;
    font-family: sans-serif;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: rgba(0, 64, 255, 0.153);
    box-shadow: 0 5px 5px rgba(0, 0, 0.2);
  }
  
  .startBtn a:hover:after {
    left: 100%;
  }
  
  .startBtn a span {
    position: fixed;
    display: flex;
    transition: all 1s ease
  }
  
  .startBtn a:hover {
    text-decoration: none;
  }
  
  .startBtn a span:hover {
    transform: scale(1.1);
  }
  
  .startBtn a:hover span:nth-child(4) {
    height: 100%;
    transform: translateY(-100%);
  }
  
  /* ---------------------------------------------------------------------- */
  
  
  /* Bg image and responsiveness for mobile and tablet devices */
  @media (min-width: 200px) and (max-width: 1024px) {
    body {
      background-image: url("cit pc 2 mobi version bg.png");
    }
  
    .titleHeading {
      justify-content: center;
      color: #4EBAF0;
      font-size: 10rem;
      top: 5rem;
      position: relative;
      font-optical-sizing: auto;
      font-family: 'Mons Olympia', sans-serif;
      font-family: 'Mons Olympia Condensed', sans-serif;
    }
  
    .textAfterHeading {
      color: #4EBAF0;
      justify-content: center;
      height: 5rem;
      margin-top: -2rem;
      font-size: 1rem;
      font-family: 'Mons Olympia', sans-serif;
      font-family: 'Mons Olympia Condensed', sans-serif;
    }
  
    .socialMedia {
      display: inline-flex;
      position: fixed;
      left: 2rem;
      bottom: 2rem;
      color: #4EBAF0;
      font-family: 'Audiowide', cursive;
    }
  
      .socialMedia img {
      width: 2rem;
      margin-top: 0.1em;
      margin-left: 0.1rem;
      letter-spacing: 1rem;
    }
  
    .startBtn a {
      position: relative;
      display: inline;
      top: 3rem;
      justify-content: center;
      padding: 20px 30px;
      text-decoration: none;
      color: #4EBAF0;
      font-size: 1.4rem;
      letter-spacing: 4px;
      overflow: hidden;
      font-family: 'Mons Olympia', sans-serif;
      font-family: 'Mons Olympia Condensed', sans-serif;
      border-image-slice: 1;
      background-color: rgba(0, 64, 255, 0.153);
    }
  
    .rounded-corners-gradient-borders {
      border: double 2px transparent;
      border-radius: 20px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), linear-gradient(#4EBAF0, #0018223b);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      box-shadow: 0 5px 5px rgba(0, 0, 0.2);
    }
  
    .logo img {
      position: fixed;
      width: 6rem;
      height: auto;
      top: 2.5rem;
      right: 0.6rem;
    }
  }
  
  /* -------------------------------------------------------------- */
  
  /* Bg image and responsiveness for desktop devices */
  
  @media (min-width: 1025px) {
    body {
      background-image: url("cit pc 2 bg-01.png");
    }
  
    .titleHeading {
      color: #4EBAF0;
      font-size: 20rem;
      position: fixed;
      display: flex;
      top: -3rem;
      left: 6rem;
      font-family: 'Mons Olympia', sans-serif;
      font-stretch: extra-expanded;
    }
  
    .logo img {
      position: fixed;
      width: 10rem;
      height: auto;
      top: 3rem;
      right: 2rem;
    }
  
    .textAfterHeading {
      color: #4EBAF0;
      position: relative;
      top: 24rem;
      left: -30rem;
      font-size: 2rem;
      overflow: hidden;
      font-family: 'Mons Olympia', sans-serif;
      font-family: 'Mons Olympia Condensed', sans-serif;
    }
  
    .startBtn a {
      position: absolute;
      padding: 1.2rem 4rem;
      top: 4rem;
      left: 3rem;
      text-decoration: none;
      color: #4EBAF0;
      font-size: 3rem;
      letter-spacing: 4px;
      overflow: hidden;
      font-family: 'Mons Olympia', sans-serif;
      font-family: 'Mons Olympia Condensed', sans-serif;
      border: double 0.3rem transparent;
      border-radius: 35px;
      border-image-slice: 1;
      background-color: rgba(0, 64, 255, 0.153);
    }
  
    .startBtn a:after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
      transition: 0.5s;
      transition-delay: 0.5s;
    }
  
    .rounded-corners-gradient-borders {
      border: double 4px transparent;
      border-radius: 40px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), linear-gradient(#4EBAF0, #0018223b);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      box-shadow: 0 5px 5px rgba(0, 0, 0.2);
    }
  
    .socialMedia {
      display: inline-flex;
      position: fixed;
      font-size: 2rem;
      left: 18rem;
      bottom: 2.4rem;
      color: #4EBAF0;
      font-family: 'Mons Olympia', sans-serif;
      font-family: 'Mons Olympia Condensed', sans-serif;
    }
  
    .socialMedia img {
      margin-top: 0.8rem;
      margin-left: 0.1rem;
      letter-spacing: 1rem;
    }
  }
  
  /*----------------------------------------------------------------*/