{%extends 'base.html'%}

{% block content %}
      <a href="/"><button type="button" class="btn btn-primary btn-lg " style="margin-top:10px; visibility: visible;" id="go-back">Go Back</button></a>

    <div class="col-lg-12 rules border-shadow" id="rules" style="font-family: 'Montserrat', sans-serif;border:5px solid #1B809E; background-color: rgba(255, 255, 255, 0.5); margin-bottom: 25px;"  >
      <h2 style="color: #FF0000;font-weight:bold;font-size:27px"><strong>RULES</strong></h2>
      <ul class="padsize">
        <li style = "color:#131415;font-size:20px">This test comprises of <strong>25 questions</strong> which includes Logical Reasoning, Verbal Reasoning, Data Interpretation and Aptitude.</li>
       <li style = "color:#131415;font-size:20px">Each question carries <strong>4 mark for correct answer. Incorrect answer will fetch you negative marks of - 1.</strong></li>
       <li style = "color:#131415;font-size:20px">No marks if question is not attempted.</li>
        <li style = "color:#131415;font-size:20px"><strong>Just Select the Option or Click Next Question(without selecting any option) to skip the Question</strong></li>
       <li style = "color:#131415;font-size:20px">Time limit is <strong>30 minutes</strong>.</li>
       <li style = "color:#131415;font-size:20px">Once you skip to the next question you cannot go back.</li>
      </ul>

    </div>
 {%endblock%}