{% extends 'base.html' %}

{%block content%}

<!-- Example row of columns -->
<div class="row">
<div class="col-sm-12">
<h1 style="color: #4D9A1A; font-weight: bold; text-align: center;"><strong>You Have Finished All Questions</strong></h1>
<h1 style="color: #4D9A1A; font-weight: bold; text-align: center;"><strong>Your score is {{player.score}}</strong></h1>
<h1 style="color: #4D9A1A; font-weight: bold; text-align: center;"><strong>Visit <a href="/lboard"> LEADERBOARD </a> for results</strong></h1>
</div>
</div>

{%endblock%}


