{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    @font-face {
        font-family: MonsOlympia;
        src: url({% static './fonts/MonsOlympia.ttf'%});
    }
      
    body {
        font-family: MonsOlympia;
    }
      
  .outerBorder {
    position: fixed;
    border: 2px solid #4ebaf0;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .containeraboutpage-1 {
    border-style: solid;
    border-width: 2;
    padding: 15px;
    margin: 0px;
  }
  
  .glowing-circle {
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
  }
  
  @keyframes glowing {
    from {
      box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba (78, 186, 240, 0.271) F0, 0 0 7px #4ebaf0;
    }
  
    to {
      box-shadow: 0 0 2px #fff, 0 0 3px #4ebaf0, 0 0 4px #4ebaf0, 0 0 5px #4ebaf0, 0 0 6px #4ebaf0, 0 0 7px #4ebaf0, 0 0 8px #4ebaf0;
    }
  }
  
  @font-face {
    font-family: MonsOlympia;
    src: url(./fonts/MonsOlympia.ttf);
  }
  
  body {
    font-family: MonsOlympia;
  }
  
  .bg-containeraboutpage {
    background-image: url({% static './Assets/bg.png' %});
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .contaboutpage {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .logo-imageaboutpage {
    position: absolute;
    width: 10rem;
    height: auto;
    top: 1rem;
    left: -0.5rem;
  }
  
  .main-headingaboutpage {
    border-style: solid;
    border-width: 1;
    border-color: rgba(98, 159, 228, 0.781);
    border-radius: 30px;
    padding: 10px;
    font-size: 40px;
    border-left-style: none;
    color: rgb(77, 150, 233);
    background-color: rgba(83, 174, 219, 0.155);
    text-align: center;
    align-self: flex-end;
  }
  
  .containeraboutpage-2 {
    border-style: solid;
    border-radius: 20px;
    border-width: 1;
    border-color: rgba(98, 122, 228, 0.648);
    padding: 15px;
    margin-top: 30px;
    height: 80%;
  }

  {% comment %} back button {% endcomment %}
  .backButton{
    position: absolute;
    border: 2px solid #4EBAF0;
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0px 1rem;
    right:2%;
    top:2%;
    border-left-style: none;
    color: rgb(194 200 206);
    background-color:#0000004d;
    text-align: center;
}


.backButton:hover{
    background-color:#4EBAF0;
    transform: scale(1.1);
}

.glowing-circle-backButton {

    -webkit-animation: glowing 2s ease-in-out infinite alternate;
    -moz-animation: glowing 2s ease-in-out infinite alternate;
    animation: glowing 2s ease-in-out infinite alternate;
}

@media screen and (max-width: 600px) {
  .main-headingaboutpage {
    font-size: 25px;
  }

  .logo-imageaboutpage {
    position: absolute;
    width: 8rem;
    height: auto;
    top: 1rem;
    left: -0.5rem;
  }

  .containeraboutpage-2 {
    height: cover;
  }

  .backButton{
    font-size:1.5rem;
    right:4%;
    top:3%;
  }
}
</style>
<div class="bg-containeraboutpage">
  <div class="containeraboutpage-1 outerBorder glowing-circle container-fluid">
    <a href="{% url 'cit2020:navPage' %}"><button type="button" class="btn backButton glowing-circle-backButton"><-</button></a>
    <div class="text-center contaboutpage">
      <img class="logo-imageaboutpage" src="https://i.ibb.co/vPskLzN/Untitled-1-01.png" />
      <h class="main-headingaboutpage">About</h>
    </div>
    {% comment %} <div class="containeraboutpage-2"></div> {% endcomment %}
  </div>
</div>
{% endblock %}
