{% extends 'base.html' %}
{%block content%}
{% load static %}
<style>
    * {
        padding: 0px;
        margin: 0px;
    }

    @font-face {
        font-family: MonsOlympia;
        src: url({% static './fonts/MonsOlympia.ttf'%});
    }

    body {
        background-size: 100% 100%;
        font-family: MonsOlympia;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url({% static './Assets/bg.png' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .header {
        /* border: 2px solid rgb(75, 75, 238); */
        height: 3em;
        border-radius: 15px;
        margin: 20px;
        font-size: 2rem;

    }
    .header img {
        position: absolute;
        width: 10rem;
        height: auto;
        top: 1rem;
        left: -0.5rem;
    }
    .header h2 {
        font-family: MonsOlympia;
        position: absolute;
        left: 45%;
        top: 20%;
        border: 1px solid rgb(40, 113, 240);
        border-radius: 15px;
        background-color: rgba(83, 174, 219, 0.155);
    }

    .main {
        /* border: 2px solid rgb(0, 0, 128); */
        height: 20rem;
        margin: 21px;
        padding: 8px;
        border-radius: 15px;
    }

    .question {
        height: auto;
        /* border: 1px solid rgb(78, 255, 151); */
        padding: -26px;
        border-radius: 15px;
        color: white;
        font-family: Montserrat;
        margin: 5px;
        font-size: 20px;
    }

    .question-text h4{
        font-weight : 800;
        margin-top : 10px;
    }

    .image-section{
        width : 50%;
        margin : 0 auto;
    }

    .answer {
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        margin-top: 15px;
        font-size: 1.3rem;
    }

    .box p {
        width:auto;
        font-size: 24px;
        color:#fff;        
    }

    .box {
        position: absolute;
        right: 3%;
        top: 3%;
        color: #fff;
    }

    p {
        color: #00FFFF;
        font-size: 1.3rem;
        width: 100%;
        font-family: MonsOlympia;
        letter-spacing: 2px;
        line-height: 24px;
    }

    .content {
        position: relative;
        margin-top: 2px;
    }
    .content h2 {
        color: rgb(255, 10, 10);
        font-size: 0.8em;
        position: absolute;
        padding: 0.6em;
    }
    .content h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #ffffff;
        letter-spacing: 4px;
    }

    {% comment %} .time-left {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        color: rgb(255, 27, 27);
        background-color: white;
    } {% endcomment %}

    form div {
        margin-left: 15px;
    }

    .opt {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        margin-top: 0.4em;
        padding-left: 1rem;
        line-height: 30px;
    }

    .opt input {
        display: inline-block;
        position: relative;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
    }

    .opt input::before,
    .opt input::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50px;
    }

    .opt input:checked::before {
        background: #00bfff;
        transform: translate(-50%, -50%);
    }

    .opt input::after {
        width: 12px;
        height: 12px;
        background: none;
        border: 2px solid #ffffff;
        border-radius: 50px;
        transform: translate(-80%, -50%);
        transition: all 0.4s;
    }

    .opt input:checked::after {
        width: 12px;
        height: 12px;
        border: 2px solid #7b00ff;
        border-radius: 10px;
        transform: translate(-50%, -50%);
    }

    .opt label {
        margin-left: 0.9em;
        cursor: pointer;
        font-size: 18px;
        text-align: left;
        font-family: Montserrat;
    }

    input.clear-button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 15px;
        background-color: rgba(62, 188, 251, 0.157);
        color: white;
        /* font-family: 'Montserrat', sans-serif; */
        border: 1px solid white;
        border-radius: 9px;
        font-weight: bolder;
    }

    input.clear-button:hover {
        background-color: rgba(0, 81, 122, 0.157);
    }

    .next-arrow-block {
        width: 100%;
        position: relative;
    }

    .next-arrow {
        width: auto;
        height: 50px;
        background-color: transparent;
        color: #2e6aed;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .next-arrow input {
        border: none;
        background-color: transparent;
        font-size: 28px;
        margin-top: 30px;
        padding-right: 10px;
    }

    .options-block {
        color: white;

        /* border: 1px solid yellow; */
    }

    .opt {
        border-radius: 10px;
        display: flex;
        text-align: center;
    }
    
    .container1 {
        height: auto;
    }

    .main {
        border-style: solid;
        border-radius: 20px;
        border-width: 2;
        border-color: rgb(98, 159, 228);
        height: auto;
        padding: 15px;
        margin: 10px;
    }

    .glowing-circle {

        -webkit-animation: glowing 1s ease-in-out infinite alternate;
        -moz-animation: glowing 1s ease-in-out infinite alternate;
        animation: glowing 1s ease-in-out infinite alternate;
    }

    .outerBorder {
        position: absolute;
        border: 2px solid #4EBAF0;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: auto;
        border-radius: 3rem;
        width: 95%;
        top: 2.5%;
        left:2.5%;
    }


    .outerBorder2 {
        position: relative;
        border: 2px solid #4EBAF0;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: auto;
        margin-left: 21px;
        margin-right: 21px;
        margin-top: 17.1354px;
        margin-bottom: 17.1354px;
    }

    @media (max-width: 700px) {
        .image-section {
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }

        .question {
            font-size: 18px;
            padding: 0px;
        }
        .opt , .footer  , .options-block , .grid-container , .grid-block , .grid-item{
            margin-left : 0;
        }
        .clear-button {
           margin-left : -5px;
        }
    }

    @media only screen and (max-width: 600px) {

        p {
            font-size: 17px;
            font-family: MonsOlympia;
        }

        .opt label {
            font-size: 17px;
            font-family: Montserrat;
        }

        .header h2 {
            font-size: 1.2rem;
            left: 30%;
            top: 11vh;
            font-family: MonsOlympia;
        }

        .box {
            right: 3%;
            top:0%;
            margin-top : 25px;
            position: absolute;
            border: 1px solid rgb(40, 113, 240);
            border-radius: 15px;
            background-color: rgba(83, 174, 219, 0.155);
            padding : 10px;
        }

        .box p {
            width: auto;
            color: #fff;
            font-size: 16px;
            margin-bottom:0;
        }

        .logo img {
            position: absolute;
            width: 8rem;
            height: auto;
            top: 1rem;
            left: -0.5rem;
        }

        .outerBorder2{
            margin-top : 45px;
        }

    }

    @keyframes glowing {
        from {
            box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba(78, 186, 240, 0.271)F0, 0 0 7px #4EBAF0;
        }

        to {
            box-shadow: 0 0 2px #fff, 0 0 3px #4EBAF0, 0 0 4px #4EBAF0, 0 0 5px #4EBAF0, 0 0 6px #4EBAF0, 0 0 7px #4EBAF0, 0 0 8px #4EBAF0;
        }
    }

    .grid-container {
        gap: 5px 100%;
        grid-template-columns: auto auto auto;
        padding: 10px;
        flex-wrap: wrap;
        font-family : Montserrat;
    }

    .grid-item {
        text-align: center;
    }
</style>
<div class="container1 glowing-circle outerBorder">
    <div class="header">
        <div class="logo">
            <img src="{% static './Assets/isteLogoThemed.png'%}" alt="" />
        </div>
        <div class="content">
            <h2>SECTION</h2>
        </div>
        <div class="box" id="demo-box">
            <p id="demo" class="time-left"></p>
        </div>
    </div>
    <div class="main outerBorder2">
        <div class="question">
            <div class="question-text"
                style="user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-user-select:none;">
   
                <strong>Q {{question.Q_number}} :- </strong><br>
                {{ question.Question|safe }} <br>
                <h4>Accuracy: {{question.accuracy}} %</h4>

            </div>


            {% if question.image %}

            <div class="image-section">
                <img src="{{question.image.url}}" width="100%" />
            </div>

            {%endif%}
        </div>
        <form id="ans" method="post" action="/answer/">
        <div class="footer">
            {% csrf_token %}
            <div class="options-block">
                <div class="opt">
                    <input type="radio" name="option" value="1" id="option1" />
                    <label for="option1" style="
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                -user-select: none;
              ">{{question.option1}}</label>
                </div>
                <div class="opt">
                    <input type="radio" name="option" value="2" id="option2" />
                    <label for="option2" style="
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                -user-select: none;
              ">{{question.option2}}</label>
                </div>
                <div class="opt">
                    <input type="radio" name="option" value="3" id="option3" />
                    <label for="option3" style="
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                -user-select: none;
              ">{{question.option3}}</label>
                </div>
                <div class="opt">
                    <input type="radio" name="option" value="4" id="option4" />
                    <label for="option4" style="
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                -user-select: none;
              ">{{question.option4}}</label>
                </div>
                <div class="grid-container">
                    <div class="grid-item"><span style="display: none"><input type="radio" name="option" id="option5"
                                value="0" /></span>
                        <input type="button" class="clear-button" value="Clear Choice"
                            onclick="document.getElementById('option5').checked = true;" />
                    </div>

                    <div class="last">
                        <div class="grid-item"><span style="display: none"><input type="radio" name="option"
                                    id="option5" value="0" /></span>
                                    <input type="submit" class="clear-button" value="Next" />
                        </div>

                    </div>
                </div>
            </form>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>







<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script>
    // Set the date we're counting down to
    True = 1
    False = 0
    var countDownDate;
    if ({{ player.qualified }}) {
        // Final slot date
        countDownDate = new Date("Dec 20, 2022 23:10:00").getTime();
    }
    else if ({{ player.slot }}== 1) {
        // slot 1 date
        countDownDate = new Date("Dec 18, 2022 13:50:00").getTime();
    } 
      else if ({{ player.slot }}== 2) {
        // slot 2 date 
        countDownDate = new Date("Dec 18, 2022 22:00:00").getTime();
    } 
      else if ({{ player.slot }}== 3) {
        // slot 3 date 
        countDownDate = new Date("Jan 11, 2022 22:20:00").getTime();
    } 
      else {
        // final slot date 
        countDownDate = new Date("Jan 11, 2022 23:10:00").getTime();
    }


    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo-box").style.visibility = "visible";
        document.getElementById("demo").innerHTML = "" + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "TIME OVER";
            // window.location.replace("/lboard");
            document.getElementById("ans").submit();
            // window.location.reload();
        }
        else if (hours == 0 && minutes == 5 && seconds == 0) {
            alert("Quiz will auto-submit after 5 minutes");
        }
    }, 1000);
</script>

{%endblock%}