{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load widget_tweaks %}

<style>
*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family : MonsOlympia;
}

.outerBorder {
    position: absolute;
    border: 2px solid #4EBAF0;
    width: 95%;
    top: 2.5%;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height:95%;
}

.glowing-circle {
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba(78, 186, 240, 0.271)F0, 0 0 7px #4EBAF0;
    }

    to {
        box-shadow: 0 0 2px #fff, 0 0 3px #4EBAF0, 0 0 4px #4EBAF0, 0 0 5px #4EBAF0, 0 0 6px #4EBAF0, 0 0 7px #4EBAF0, 0 0 8px #4EBAF0;
    }
}

.forms-card {
    height: 90%;
    width: 70%;
    margin : 0 auto;
}

@media screen and (max-width: 420px) {
    .forms-card {
        height: 90%;
        width: 85%;
    }
}

.forms-inner-box {
    position: relative;
    width: 100%;
    height: 100%;
}


.forms-logo img {
    position: absolute;
    width: 10rem;
    height: auto;
    top: 1rem;
    left: -0.5rem;
}

.forms-title {
    border-style: solid;
    border-width: 1;
    border-color: rgba(98, 159, 228, 0.781);
    border-radius: 30px;
    padding: 10px 25px;
    position: relative;
    top: 5rem;
    left : 36%;
    font-size: 40px;
    border-left-style: none;
    color: rgb(77, 150, 233);
    background-color: rgba(83, 174, 219, 0.155);
    text-align: center;
    font-family : MonsOlympia;
    letter-spacing : 5px;
    text-align : center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top : 120px;
}

.forms-card h3 {
    font-weight: normal;
    font-size: 24px;
    color: rgb(77, 150, 233);
    text-align: center;
    margin-bottom: 15px;
    font-family : MonsOlympia;
}

.forms-input-box {
    width: 70%;
    overflow: hidden;
    background: transparent;
    border: 1px solid #4EBAF0;
    margin: 8px 0;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
    letter-spacing : 4px;
    
}

@media screen and (max-width: 600px) {
    .forms-input-box {
        width: 82%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 820px) {
    .forms-input-box {
        margin: 15px 0;
    }
}

@media screen and (max-width: 920px) {
    .forms-input-box {
        margin: 15px 0;
    }
}

::placeholder {
    color: #fff;
    text-align: center;
}

.button-forms {
    width: 25%;
    background: transparent;
    border: 1px solid #4EBAF0;
    margin: 16px 0 10px;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    letter-spacing : 4px;
}

@media screen and (max-width: 600px) {
    button {
        width: 70%;
    }
    .forms-logo img{
        position: absolute;
        width: 8rem;
        height: auto;
        top: 1rem;
        left: -0.5rem;
    }
    .forms-title{
        border-style: solid;
        border-color: rgba(98, 159, 228, 0.781);
        border-radius: 30px;
        position: relative;
        top: 6rem;
        left : 18%;
        font-size: 24px;
        border-left-style: none;
        font-family : MonsOlympia;
        color: rgb(77, 150, 233);
        background-color: rgba(83, 174, 219, 0.155);
        text-align: center;
        border-width: 1;
    }
    .button-forms{
        width : 30%;
        padding : 0 10px;
    }
    ::placeholder {
        font-size : 12px;
    }
}

.submit-btn-forms {
    position: relative;
}

.card .btn {
    margin-top: 25px;
}
</style>

<div class="forms-main-container forms-logo outerBorder glowing-circle">
        <img src="{% static './Assets/isteLogoThemed.png' %}" alt="">
        <div class="forms-container">
            <div class="forms-card">
              <div class="forms-inner-box">     
                <div class="forms-card-front">
                      <h class="forms-title">Register</h>
                      <form id="complete_profile" method="post" action="/profile/update">
                        {% csrf_token %}
        
                        {% comment %} <input type="text" class="forms-input-box" placeholder="Your Name" required> {% endcomment %}
                        {% render_field form.name class="form-control forms-input-box" placeholder="Enter Your Name" style="display:inline-block;max-width: 95%;" %} 
        
                        {% comment %} <input type="text" class="forms-input-box" placeholder="Your Username" required> {% endcomment %}
                        {% render_field form.userName class="form-control forms-input-box" placeholder="Enter your Username" style="display:inline-block;max-width: 95%;" %}
        
                        {% comment %} <input type="text" class="forms-input-box" placeholder="Phn Number" required> {% endcomment %}
                        {% render_field form.mobile class="form-control forms-input-box" type="Number" placeholder="Enter your Mobile No" style="display:inline-block;max-width: 95%;" %}  
        
                        {% comment %} <input type="text" class="forms-input-box" placeholder="Name of College/School" required> {% endcomment %}
                        {% render_field form.institute_name class="form-control forms-input-box"  placeholder="Enter your College/School" style="display:inline-block;max-width: 95%;" %}  
                        
                        {% comment %} <input type="text" class="forms-input-box" placeholder="Department/School Name" required> {% endcomment %}
                        {% render_field form.department class="form-control forms-input-box" placeholder="Enter Department" style="display:inline-block;max-width: 95%;" %}
        
                        {% comment %} <input type="text" class="forms-input-box" placeholder="Year of Study" required> {% endcomment %}
                        {% render_field form.year_of_study class="form-control forms-input-box" placeholder="Enter year of study" style="display:inline-block;max-width: 95%;text-align:center;" %}     
                          
                        <button type="submit" class="button-forms submit-btn-forms"><span>Submit</span></button>
                      </form>
                </div>
              </div>
            </div>
          </div>
</div>


{% endblock content %}