{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load widget_tweaks %}

{% comment %} <div class="update-profile">
  <div class="container">
    <br>
    <h3 >Update Your Profile </h3>

    <form id="complete_profile" method="post" action="/profile/update">
      {% csrf_token %}

        <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" >
        <span>Name</span>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-12 mb-2">    
                {% render_field form.name class="form-control" placeholder="Enter Your Name" style="display:inline-block;max-width: 95%;" %}  
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" >
        <span>Mobile</span>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-12 mb-2">    
                {% render_field form.mobile class="form-control" placeholder="Enter Your Mobile Number" style="display:inline-block;max-width: 95%;" %}  
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" >
        <span>Name of College/School</span>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-12 mb-2">    
                {% render_field form.institute_name class="form-control" placeholder="Enter your Institute Name" style="display:inline-block;max-width: 95%;" %}  
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" >
        <span>Department</span>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-12 mb-2">    
                {% render_field form.department class="form-control" placeholder="Enter School if you are school student" style="display:inline-block;max-width: 95%;" %}  
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" >
        <span>Year of Study</span>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-12 mb-2">    
                {% render_field form.year_of_study class="form-control" style="display:inline-block;max-width: 95%;" %}  
        </div>
        <br>
        <br>
      <div class="next-arrow-block">
        <div class="next-arrow">
          <input type="submit" value="Submit &#8594 " />
        </div>
      </div>
    </form>
  </div>
</div> {% endcomment %}
<style>
  * {
    margin: 0;
    padding: 0;
}

.forms-main-container {
    width: 100%;
    height: 100vh;
}

.forms-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(#05053a, #040452);
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-card {
    height: 90%;
    width: 70%;
    background-color: #05053a;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    border: 1.4px solid aqua;
    border-radius: 20px;
    perspective: 1000px;
}

@media screen and (max-width: 420px) {
    .forms-card {
        height: 90%;
        width: 85%;
    }
}

.forms-inner-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.forms-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 80, 0.6), rgba(0, 0, 70, 0.5)),
        url({% static './Assets/bg.png' %});
    padding: 20px;
    box-sizing: border-box;
}

.forms-heading {
    width: 85%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-logo {
    position: relative;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-logo img {
    position: fixed;
    height: auto;
    width: 10rem;
    left: 0rem;
    top:2rem;
}

.forms-title {
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-card .forms-title h3 {
    margin-right: 90px;
}

@media screen and (max-width: 280px) {
    .forms-logo img {
        position: fixed;
        height: auto;
        width: 8rem;
    }

    .forms-card .forms-title h3 {
        margin-left: 35px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 300px) {
    .forms-card .forms-title h3 {
        margin-right: 25px;
    }

    .forms-logo img {
        height: auto;
        width: 7rem;
        margin-right: 8px;
    }
}

@media screen and (max-width: 420px) {
    .forms-card .forms-title h3 {
        margin-right: 52px;
    }

    .forms-logo img {
        height: auto;
        width: 7rem;
    }
}

@media screen and (max-width: 820px) {
    .forms-logo img {
        height: auto;
        width: 8rem;
    }
}

@media screen and (max-width: 920px) {
    .forms-logo img {
        height: auto;
        width: 8rem;
    }
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forms-card h3 {
    font-weight: normal;
    font-size: 24px;
    color: aqua;
    text-align: center;
    margin-bottom: 15px;
}

.forms-input-box {
    width: 70%;
    overflow: hidden;
    background: transparent;
    border: 1px solid aqua;
    margin: 8px 0;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 280px) {
    .forms-input-box {
        margin: 5px 0;
    }
}

@media screen and (max-width: 600px) {
    .forms-input-box {
        width: 82%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 820px) {
    .forms-input-box {
        margin: 15px 0;
    }
}

@media screen and (max-width: 920px) {
    .forms-input-box {
        margin: 15px 0;
    }
}

::placeholder {
    color: #fff;
    text-align: center;
}

.button-forms {
    width: 25%;
    background: transparent;
    border: 1px solid aqua;
    margin: 16px 0 10px;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;

}

@media screen and (max-width: 600px) {
    button {
        width: 70%;
    }
}

.submit-btn-forms {
    position: relative;
}

.card .btn {
    margin-top: 25px;
}
</style>

<div class="forms-main-container">
  <div class="forms-container">
    <div class="forms-card">
      <div class="forms-inner-box">     
        <div class="forms-card-front">
              <div class="forms-heading">
                <div class="forms-logo">
                  <img src="{% static './Assets/isteLogoThemed.png' %}" alt="">
                </div>
                <div class="forms-title">
                    <h3>Register</h3>
                </div>
              </div>
              <form id="complete_profile" method="post" action="/profile/update">
                {% csrf_token %}

                {% comment %} <input type="text" class="forms-input-box" placeholder="Your Name" required> {% endcomment %}
                {% render_field form.name class="form-control forms-input-box" placeholder="Enter Your Name" style="display:inline-block;max-width: 95%;" %} 

                {% comment %} <input type="text" class="forms-input-box" placeholder="Your Username" required> {% endcomment %}
                {%render_field form.userName class="form-control forms-input-box" placeholder="Enter your Username" style="display:inline-block;max-width: 95%;" %}

                {% comment %} <input type="text" class="forms-input-box" placeholder="Phn Number" required> {% endcomment %}
                {% render_field form.mobile class="form-control forms-input-box" placeholder="Enter Your Mobile Number" style="display:inline-block;max-width: 95%;" %}  

                {% comment %} <input type="text" class="forms-input-box" placeholder="Name of College/School" required> {% endcomment %}
                {% render_field form.institute_name class="form-control forms-input-box" placeholder="Enter your Institute Name" style="display:inline-block;max-width: 95%;" %}  
                
                {% comment %} <input type="text" class="forms-input-box" placeholder="Department/School Name" required> {% endcomment %}
                {% render_field form.department class="form-control forms-input-box" placeholder="Enter School if you are school student" style="display:inline-block;max-width: 95%;" %}

                {% comment %} <input type="text" class="forms-input-box" placeholder="Year of Study" required> {% endcomment %}
                {% render_field form.year_of_study class="form-control forms-input-box" style="display:inline-block;max-width: 95%;" %}     
                  
                <button type="submit" class="button-forms submit-btn-forms"><span>Submit</span></button>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}