{% extends 'base.html' %}
{% load static %}
{% comment %} {% extends 'base.html' %} {% block content %}
{% load widget_tweaks %}

<div class="view-profile">
  <div class="container">
    <br>
    <h1>Your Profile :- </h1>
    <br>
    <div class="row">
    <div class="col-md-12 col-lg-6 mb-2">
        <h4><strong>Name : </strong> {{player.name}}</h4>  
        <h4><strong>Email Id : </strong> {{player.email}}</h4>
        <h4><strong>Mobile No : </strong> {{player.mobile}}</h4>
        <h4><strong>School/College : </strong> {{player.institute_name}}</h4>
        <h4><strong>Year of Study : </strong> {{player.year_of_study}}</h4>
        <h4><strong>Department : </strong> {{player.department}}</h4>
    </div>
    <div class="col-md-12 col-lg-6 mb-2">
        {% if player.slot == 0 %}
        <h3><strong>Preliminary Round : </strong>Select <a href="{% url 'cit2020:index' %}"><strong>Slot</strong></a></h3>
        {% else %}
        <h3><strong>Preliminary Round : </strong></h3>
        <h4><strong>Slot: </strong> 
            {% if player.slot == 1 %} (1) Jan 11, 2022 (9:30 PM - 9:40 PM)
            {% elif player.slot == 2 %} (2) Jan 11, 2022 (9:50 PM - 10:00 PM)
            {% elif player.slot == 3 %} (3) Jan 11, 2022 (10:10 PM - 10:20 PM)
            {% endif %}
        </h4>
        <h4><strong>Score : </strong> {{player.score}}</h4>
        {% if final == False %}
        <h4><strong>Selected for Final : </strong> -- </h4>
        {% elif player.qualified == True %}
        <h4><strong>Selected for Final : </strong> Yes </h4>
        {% else %}
        <h4><strong>Selected for Final : </strong> No </h4>
        {% endif %}
        {% if player.qualified == True %}
        <h3><strong>Final Round : </strong></h3>
        <h4><strong>Slot : </strong> Jan 11, 2022 (11:00 PM - 11:10 PM)</h4>
        <h4><strong>Score : </strong> {{player.final_score}}</h4>
        {% endif %}
        {% endif %}    
    </div>
    </div>
  </div>
</div>

{% endblock content %} {% endcomment %}

 
{% block content %}
{% load widget_tweaks %}

    <style>	   
        @font-face {
            font-family: MonsOlympia;
            src: url({% static './fonts/MonsOlympia.ttf'%});
          }

		body {
			font-family: MonsOlympia;
            letter-spacing: 2px;
		}

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          }

          * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background-image: url({% static './Assets/bg.png' %});
            background-size: cover;
            background-size: 100% 100%;
        }
        {% comment %} back button {% endcomment %}
        .backButton{
            position: absolute;
            border: 2px solid #4EBAF0;
            border-radius: 1rem;
            font-size: 1.5rem;
            padding: 0px 10px;
            right:2%;
            top:2%;
            border-left-style: none;
            color: rgb(194 200 206);
            background-color:#0000004d;
            text-align: center;
        }

        .backButton:hover{
            background-color:#4EBAF0;
            transform: scale(1.1);
        }

        .glowing-circle-backButton {
        
            -webkit-animation: glowing 2s ease-in-out infinite alternate;
            -moz-animation: glowing 2s ease-in-out infinite alternate;
            animation: glowing 2s ease-in-out infinite alternate;
        }
        {% comment %}  {% endcomment %}
        .outerBorder-viewProfile {
            position: relative;
            border: 2px solid #4EBAF0;
            width: 100%;
            top: -1%;
            bottom:2.5%;
            height: 95% !important;
            width:95% !important;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        
        .glowing-circle {
        
            -webkit-animation: glowing 1s ease-in-out infinite alternate;
            -moz-animation: glowing 1s ease-in-out infinite alternate;
            animation: glowing 1s ease-in-out infinite alternate;
        }

        
        
        @keyframes glowing {
            from {
                box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #4e79f0, 0 0 4px rgba(0, 255, 255, 0.079), 0 0 5px #4ebaf025, 0 0 6prgba(78, 186, 240, 0.271)F0, 0 0 7px #4EBAF0;
            }
        
            to {
                box-shadow: 0 0 2px #fff, 0 0 3px #4EBAF0, 0 0 4px #4EBAF0, 0 0 5px #4EBAF0, 0 0 6px #4EBAF0, 0 0 7px #4EBAF0, 0 0 8px #4EBAF0;
            }
        }
        
        
        .logo img {
            position: absolute;
            width: 10rem;
            height: auto;
            top: 1rem;
            left: -0.5rem;
        }
        
        
        
        .view-profile {
            border-style: solid;
            border-radius: 50px;
            border-width: 2;
            border-color: rgb(98, 159, 228);
            height: auto;
            width: auto;
            padding: 15px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-top: 28px;
            margin-bottom: 28px;
            margin-left: 28px;
            margin-right: 28px;
        }
        
        .container {
            color: rgb(255, 254, 254);
            padding: 10px;
            margin: 60px;
        }
        
        h4 {
            margin-top: 15px;
        }
        
        .logo h1 {
            color: white;
            margin-top: 38px;
        }
        
        
        @media only screen and (max-width: 600px) {
        
            .logo img {
                width: 8rem;
                height: auto;
                top: 1rem;
                left: -0.5rem;
            }
        
        
            .logo h1 {
                color: white;
                margin-top: 28px;
                font-size: 23px;
                margin-left: 41px;
            }
        
            h4 {
                font-size: 15px;
            } 
            
            .backButton{
                right:4%;
                top:4%;
            }
        }
    </style>

    <div class="view-profile outerBorder-viewProfile glowing-circle">
        <a href="{% url 'cit2020:navPage' %}"><button type="button" class="btn backButton glowing-circle-backButton"><-</button></a>
        <div class="logo">
            <img src="{% static './Assets/isteLogoThemed.png' %}" alt="" />
            <h1>Your Profile</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 mb-2">
                    <h4><strong>Name : {{player.name}}</strong> </h4>
                    <h4><strong>UserName : {{player.userName}}</strong> </h4>
                    <h4><strong>Email Id : {{player.email}}</strong> </h4>
                    <h4><strong>Mobile No : {{player.mobile}}</strong> </h4>
                    <h4><strong>School/College : {{player.institute_name}} </strong> </h4>
                    <h4><strong>Year of Study : {{player.year_of_study}}</strong> </h4>
                    <h4><strong>Department : {{player.department}}</strong> </h4>
                </div>
                <div class="col-md-12 col-lg-6 mb-2">
                    {% if player.slot == 0 %}
                    <h3><strong>Preliminary Round  </strong>Select <a href="{% url 'cit2020:index' %}"><strong>Slot</strong></a></h3>
                    {% else %}
                    <h3><strong>Preliminary Round  </strong></h3>
                    <h4><strong>Slot: </strong> 
                        {% if player.slot == 1 %} (1) Jan 11, 2022 (9:30 PM - 9:40 PM)
                        {% elif player.slot == 2 %} (2) Jan 11, 2022 (9:50 PM - 10:00 PM)
                        {% elif player.slot == 3 %} (3) Jan 11, 2022 (10:10 PM - 10:20 PM)
                        {% endif %}
                    </h4>
                    <h4><strong>Score : </strong> {{player.score}}</h4>
                    {% if final == False %}
                    <h4><strong>Selected for Final : </strong> -- </h4>
                    {% elif player.qualified == True %}
                    <h4><strong>Selected for Final : </strong> Yes </h4>
                    {% else %}
                    <h4><strong>Selected for Final : </strong> No </h4>
                    {% endif %}
                    {% if player.qualified == True %}
                    <h3><strong>Final Round : </strong></h3>
                    <h4><strong>Slot : </strong> Jan 11, 2022 (11:00 PM - 11:10 PM)</h4>
                    <h4><strong>Score : </strong> {{player.final_score}}</h4>
                    {% endif %}
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{% endblock content %}